
			
			<div id="content" class="span10">
			<!-- content starts -->
			
			
					
			<div class="row-fluid sortable">
						
				<div class="box span4">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-list-alt"></i> Realtime Activity</h2>
						
					</div>
					<div class="box-content">
						<div id="realtimechart" style="height:190px;"></div>
							<p>&nbsp;<br />&nbsp;</p>
							<p>Time between updates: <input id="updateInterval" type="text" value="500" style="text-align: right; width:5em"> milliseconds</p>
					</div>
				</div><!--/span-->
				
				<div class="box span4">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-list"></i> Weekly Stat</h2>
						
					</div>
					<div class="box-content" style="height:280px;">
						<ul class="dashboard-list">
							<li>
								<a href="#">
									<i class="icon-user"></i>                               
									<span class="green">92</span>
									New Users                                    
								</a>
							</li>
						  <li>
							<a href="#">
							  <i class=" icon-plus-sign"></i>
							  <span class="red">15</span>
							  New Clues
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-resize-small"></i>
							  <span class="blue">36</span>
							  New Glues                                    
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-comment"></i>
							  <span class="yellow">45</span>
							  User Scribbles                                    
							</a>
						  </li>
						</ul>
					</div>
				</div><!--/span-->


				<div class="box span4">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-list"></i> All Times Stat</h2>
						
					</div>
					<div class="box-content"  style="height:280px;">
						<ul class="dashboard-list">
							<li>
								<a href="#">
									<i class="icon-user"></i>                               
									<span class="green">92</span>
									Users                                    
								</a>
							</li>
						  <li>
							<a href="#">
							  <i class=" icon-plus-sign"></i>
							  <span class="red">15</span>
							  Clues
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-resize-small"></i>
							  <span class="blue">36</span>
							  Glues                                    
							</a>
						  </li>
						  <li>
							<a href="#">
							  <i class="icon-comment"></i>
							  <span class="yellow">45</span>
							  Scribbles                                    
							</a>
						  </li>
						</ul>
					</div>
				</div><!--/span-->

				
				
			</div><!--/row-->
       
					<!-- content ends -->
			</div><!--/#content.span10-->
				
				
		