
			
			<div id="content" class="span10">
			<!-- content starts -->
			
			
			<div class="box">
					<div class="box-header well">
						<h2><i class="icon-list-alt"></i> Data Aggregation</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div id="sincos" class="center" style="height: 300px; padding: 0px; position: relative;"><canvas class="base" width="1018" height="300"></canvas><canvas class="overlay" width="1018" height="300" style="position: absolute; left: 0px; top: 0px;"></canvas><div class="tickLabels" style="font-size:smaller"><div class="xAxis x1Axis" style="color:#545454"><div class="tickLabel" style="position:absolute;text-align:center;left:-6px;top:282px;width:67px">0</div><div class="tickLabel" style="position:absolute;text-align:center;left:67px;top:282px;width:67px">1</div><div class="tickLabel" style="position:absolute;text-align:center;left:140px;top:282px;width:67px">2</div><div class="tickLabel" style="position:absolute;text-align:center;left:213px;top:282px;width:67px">3</div><div class="tickLabel" style="position:absolute;text-align:center;left:286px;top:282px;width:67px">4</div><div class="tickLabel" style="position:absolute;text-align:center;left:359px;top:282px;width:67px">5</div><div class="tickLabel" style="position:absolute;text-align:center;left:432px;top:282px;width:67px">6</div><div class="tickLabel" style="position:absolute;text-align:center;left:505px;top:282px;width:67px">7</div><div class="tickLabel" style="position:absolute;text-align:center;left:578px;top:282px;width:67px">8</div><div class="tickLabel" style="position:absolute;text-align:center;left:652px;top:282px;width:67px">9</div><div class="tickLabel" style="position:absolute;text-align:center;left:725px;top:282px;width:67px">10</div><div class="tickLabel" style="position:absolute;text-align:center;left:798px;top:282px;width:67px">11</div><div class="tickLabel" style="position:absolute;text-align:center;left:871px;top:282px;width:67px">12</div><div class="tickLabel" style="position:absolute;text-align:center;left:944px;top:282px;width:67px">13</div></div><div class="yAxis y1Axis" style="color:#545454"><div class="tickLabel" style="position:absolute;text-align:right;top:243px;right:998px;width:20px">-1.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:187px;right:998px;width:20px">-0.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:131px;right:998px;width:20px">0.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:74px;right:998px;width:20px">0.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:18px;right:998px;width:20px">1.0</div></div></div><div class="legend"><div style="position: absolute; width: 60px; height: 40px; top: 9px; right: 9px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(83,159,46);overflow:hidden"></div></div></td><td class="legendLabel">sin(x)/x</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(60,103,165);overflow:hidden"></div></div></td><td class="legendLabel">cos(x)</td></tr></tbody></table></div></div>
						<p id="hoverdata">Mouse position at (<span id="x">3.02</span>, <span id="y">-2.08</span>). <span id="clickdata">You clicked point 10 in sin(x)/x.</span></p>
					</div>
				</div>
					<!-- content ends -->
			</div><!--/#content.span10-->
				
				
		