<div class="row-fluid">	
	<div class="box span9">
		<div class="box-header well" data-original-title>
			<h2>Top Active</h2>
			
			
			<a href="/users/top_active_csv"><button class="btn btn-mini" style="float: right">CSV</button></a>
		</div>
		<div class="box-content">
			<table class="table table-bordered table-striped table-condensed">
				  <thead>
					  <tr>
						  <th>User Name</th>
						  <th>Email Address</th>
						  <th>Actions</th> 
						  <th></th>                                          
					  </tr>
				  </thead>   
				  <tbody>
					<%
					@items.each{|user|
						%>
						<tr>
							<td><%=user["name"]%></td>
							<td class="center"><%=user["email"]%></td>
							<td class="center"><%=user[:count]%></td>
							<td class="center">
								<a class="btn btn-success" href="/users/load/<%=user[:id]%>">
									<i class="icon-zoom-in icon-white"></i>  
									View                                            
								</a>
							</td>                                       
						</tr>
							
						
						<%
						}
					
					
					%>
					
					
					                                   
				  </tbody>
			 </table>  
			    
		</div>
	</div><!--/span-->
</div><!--/row-->
	
	
			